<form action="action_page.php" method="post" class="style">
  
    <div class="container">
        <h1>Log in</h1>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="email"  required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="pw"  required>
  
      <button type="submit" (click)="handleLogin()" routerLink="/chat">Login</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <div class="text">
        <a href="" >Create an account?</a>
      </div>
    </div>
  </form>
